<!DOCTYPE html>
<html>
<head>
  <title>Travlr Getaways</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div id="background">

  <div id="page">

    <div id="header">
      <div id="logo">
        <h1>Travlr Getaways</h1>
      </div>

      <div id="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/trips">Trips</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>

    <div id="contents">
      {{{body}}}
    </div>

  </div>

</div>

</body>
</html>